@import url(./fonts.css);

.header-list .navbar{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.logo{
    width: 170px;
}

/* .user-box{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 13px;
    height: 40px;
    width:33%;
    font-family: var(--roboto);
}

.logout-btn {
    background: #0775BB;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-family: var(--roboto);
    font-size: 19px;
}

.welcome{
    font-size: 30px;
} */

.container{
    margin: 2rem 1rem;
    position: relative;
}

.upload-file{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.upload-btn {
  display: inline-flex;
  align-items: center;
  width: 27rem;
  justify-content: center;
  padding: 12px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--roboto);
  font-size: 24px;
  border: 2px solid #4C9ACF;
  transition: 0.2s;
}

.upload-btn:hover {
  background: #4C9ACF;
}

.upload-btn .icon {
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 18px;
}

.upload-btn .icon img{
    margin: 0;
    height: 40px;
    width: 40px;
}

.search-area{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 2em 0;
}

.search-box{
    width: 24rem;
    border-radius: 15px;
    border-bottom: 2px solid #0775BB;
    display: flex;
    transition: box-shadow 0.40s;
}

.search-box:focus-within{
    box-shadow: 0 0 2px rgba(76,154, 207, 0.75);
}

.search-box input {
    width: 25rem;
    padding: 14px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 24px;
    font-family: var(--roboto);
}

.search-area img{
    width: 30px;
    height: 30px;
    margin: 14px 11px;
}

.search-btn{
    position: relative;
    width: 9rem;
    height: 4rem;
    font-family: var(--roboto);
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    background: #4C9ACF;
    border-radius: 18px;
    color: #fff;
}

.search-btn:hover{
    background: rgba(76, 155, 207, 0.695);
}

.result-area{
    height: 50%;
    width: auto;
    display: none;
}

.result{
    position: relative;
    width: 90%;
    justify-self: center;
    /* background: rgba(255, 255, 255, 0.15); */
    /* border: 1px solid #ddd; */
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 2px rgba(76, 154, 207, 0.73);
    display: grid;
    grid-template-rows: 40px;
}

.result{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    gap: 150px;
}

.result .result-info {
    max-width: 800px;
    width: 100%;
    background: #BFDAED;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.result-info > h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.match {
    color: green;
    font-weight: bold;
}

.label {
    font-weight: bold;
    display: block;
    margin: 30px 0;
    font-size: 20px;
}

/* .value {
    margin-top: 5px;
} */

.result-subinfo{
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #BFDAED;
    direction: rtl;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table-card {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
}

.table-card table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--roboto);
}

.table-card th{
    background-color: #BFDAED;
    /* color: #ffff;
    -webkit-text-stroke: 1px gray; */
    font-size: 30px;
}

.table-card th, td {
    padding: 12px;
    border: 1px solid #4C9ACF;
}

.table-card td{
    font-size: 20px;
}

.display-btn{
    width: 80px;
    height: 40px;
    border: none;
    background: #4C9ACF;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}