body {
  font-family: system-ui, -apple-system, sans-serif;

}

.header-nav .navbar{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.navbar-link{
    display: flex;
    align-items: center;
    padding: 13px;
}

.logo{
    width: 16rem;
}

.search-area{
  display: flex;
  justify-content: center;
}

.search-area .search-title{
  font-size: 30px;
  text-align: center;
}

.card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  /* max-width: 520px; */
  width: 60%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.input-group {
  margin-bottom: 12px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

small {
  display: block;
  margin-top: 4px;
  font-size: 12px;
}

#excelFiles {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url('../img/excel.png'); /* إدراج أيقونة */
  background-repeat: no-repeat;
  background-position: 10px center;
  }

input, button {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 8px;
  font-size: 22px;
}

button:hover {
  background-color: #0052a3;
}

.result-card {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-top: 15px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #4C9ACF;
  padding: 8px;
  text-align: right;
}

th {
  background-color: #BFDAED;
}

.alert-error {
  color: #d32f2f;
  margin-top: 15px;
  font-weight: bold;
}